.heather{
background:#111D4A


}
.heather{
margin-top: -1pc;
font-size: medium;
padding: 10px;
text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}




.image{
position: relative;
top: 8rem;
height: 300px;
width: 373.06px;
margin-left: 80px;
border-radius: 1;

}